{% extends "_layouts/cp" %}

{% set title = "Shield Logs" %}
{% set extraPageHeaderHtml %}
    <a class="btn settings icon" href="{{ url('settings/plugins/shield') }}" title="{{ 'Settings'|t }}"></a>
{% endset %}

{% set name = "Shield" %}
{% set version = "1.0" %}
{% set developer = "Selvin Ortiz" %}
{% set developerUrl = "https://selvinortiz.com" %}

{% set logs = craft.shield.logs %}

{% set content %}
    {% if logs|length > 0 %}
        <table class="data grid fullwidth">
            <tr>
                <th>#</th>
                <th>Date/Time</th>
                <th>Name</th>
                <th>Email</th>
                <th colspan="2" style="width: 50%;">Content</th>
            </tr>
            {% for log in logs %}
                <tr {{ log.flagged ? 'style="color: #c00;"' }}>
                    <td>{{ loop.index }}</td>
                    <td>
                        {{ log.dateCreated|date('Y/m/d') ~' '~ log.dateCreated|date('H:ia') }}
                    </td>
                    <td>
                        {{ log.author }}
                    </td>
                    <td>
                        {{ log.email }}
                    </td>
                    <td class="typewriter">
                        {{ log.content|nl2br }}
                    </td>
                    <td>
                        <form method="POST">
                            {{ csrfInput() }}
                            <input name="action" type="hidden" value="shield/logs/delete-one"/>
                            <input type="hidden" name="id" value="{{ log.id }}"/>
                            <button class="btn icon delete" style="margin-top: -4px;" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div style="margin-top: 2rem;">
            <form method="POST">
                {{ csrfInput() }}
                <input name="action" type="hidden" value="shield/logs/delete-all"/>
                <input name="confirmation" type="hidden" value=""/>
                <button type="submit" class="btn submit icon">Delete Everything</button>
                <input name="confirmation" type="checkbox" value="1"/>
                <span class="introvert">Yes, I want to delete everything!</span>
            </form>
        </div>
    {% else %}
        <p>
            You&rsquo;ve got no spam submissions logged!
        </p>
    {% endif %}
{% endset %}
